.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #efeae2;
  }
  
  .title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #3b4a54;
  }
  
  .phone__input {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
  }
  
  .open__chat {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #54656f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .open__chat:hover {
    background-color: #075e54;
  }
  