.error__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background-color: #ffe5e5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .error__message {
    color: #d32f2f;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .redirect__button {
    padding: 10px 20px;
    background-color: #54656f;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .redirect__button:hover {
    background-color: #075e54;
  }
  